<script>

onMounted(() => nextTick(()=>{
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();
    for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
    k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(96009494, "init", {
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true,
    webvisor:true
  });
}))


</script>

<template>
  <div>
    <NuxtPage />
    <div class="nap">
      <h2>Контакты</h2>
      <p>Адрес: г. Нижневартовск, ул. Мусы Джалиля, д. 18</p>
      <div class="nap_inner"><span>+7 (982) 135-21-59</span><span>info@rusm.space</span></div>
    </div>
  </div>
</template>

<style lang="less">
:root {
  --primary: #1177D1;
  --accent: #CF0872;
  --success: #84F502;
  --text: #333;
  --background: #d7d9d7;
  --background-light: #f5f5f5;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: var(--text);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
}

p {
  margin: 0;
}

.nap {
  background-color: var(--primary);
  padding: 10px 20px;
  color: #fff;

  * {
    color: var(--background-light);
  }

  .nap_inner {
    display: flex;
    justify-content: space-between;
  }
}
</style>