<script setup lang="ts">

const route = useRoute()

</script>


<template>
  <div class="page">
    <NuxtLink to="/">На главную</NuxtLink>
    <h1>Аспирин</h1>
    <h2>Описание</h2>
    <p>Аспирин - это лекарство, которое помогает справиться с болями в голове, зубах, мышцах, суставах, а также с жаром.
      Он также используется для профилактики инфаркта миокарда и инсульта. Аспирин принадлежит к группе лекарственных
      средств, называемых нестероидными противовоспалительными препаратами (НПВП). Он снижает уровень вещества в
      организме, которое называется простагландин. Это вещество отвечает за боли и воспаление. Аспирин снижает жар и
      уменьшает боли и воспаление.</p>
    <h2>Показания</h2>
    <p>Аспирин используется для снятия боли и жара, а также для профилактики инфаркта миокарда и инсульта. Он также
      используется для снижения риска возникновения инфаркта миокарда и инсульта у людей, у которых ранее был инфаркт
      миокарда или инсульт, или у людей, у которых высокий риск возникновения инфаркта миокарда или инсульта.</p>
    <h2>Противопоказания</h2>
    <p>Аспирин не должен приниматься людьми, у которых есть аллергия на аспирин или на любой из ингредиентов лекарства.
      Аспирин не должен приниматься людьми, у которых есть аллергия на аспирин или на любой из ингредиентов лекарства.
      Аспирин не должен приниматься людьми, у которых есть аллергия на аспирин или на любой из ингредиентов лекарства.
      Аспирин не должен приниматься людьми, у которых есть аллергия на аспирин или на любой из ингредиентов
      лекарства.</p>
    <h2>Побочные эффекты</h2>
    <p>Аспирин может вызвать побочные эффекты. Если у вас возникнут какие-либо из следующих побочных эффектов,
      обратитесь к врачу:</p>
    <ul>
      <li>тошнота;</li>
      <li>рвота;</li>
      <li>повышенная кислотность в желудке;</li>
      <li>боль в желудке;</li>
      <li>изжога;</li>
      <li>повышенная потливость;</li>
      <li>головокружение;</li>
      <li>повышенная чувствительность к свету;</li>
    </ul>
    <h2>Дозировка</h2>
    <p>Дозировка аспирина зависит от возраста и состояния здоровья человека.</p>
    <h2>Передозировка</h2>
    <p>Если вы приняли слишком много аспирина, обратитесь к врачу.</p>
  </div>
</template>

<style scoped lang="less">
.page {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

p {
  font-size: 20px;
  margin-bottom: 10px;
}

ul {
  font-size: 20px;
  margin-bottom: 10px;
}

li {
  margin-bottom: 10px;
}

a {
  color: var(--primary);
  text-decoration: none;
}
</style>