<script setup lang="ts">
const udob = ref(5);
const katalog = ref(2);
const rating = ref(4);
</script>

<template>
  <div class="page">
    <NuxtLink to="/">На главную</NuxtLink>
    <h1>Точка Pharm</h1>
    <h2>Описание</h2>
    <p>Точка Pharm - это сеть аптек, которая предоставляет своим клиентам широкий ассортимент лекарственных средств и
      товаров для здоровья. Мы предлагаем своим клиентам только качественные товары, которые прошли все необходимые
      проверки и сертификации. Наши сотрудники всегда готовы помочь вам с выбором товара и ответить на все ваши
      вопросы.</p>
    <adress>
      <h2>Контакты</h2>
      <p>Телефон: +7 (982) 135-21-59</p>
      <p>Адрес: г. Нижневартовск, ул. Мусы Джалиля, д. 18</p>
    </adress>
    <h2>Время работы</h2>
    <p>Пн-Пт: 9:00 - 21:00</p>
    <p>Сб-Вс: 10:00 - 20:00</p>
    <div class="rating">
      <h2>Рейтинг</h2>
      <h3>Удобство</h3>
      <span v-for="star in 5" :class="{active: star <= rating}" @click="rating = star">&#9733;</span>
      <h3>Каталог</h3>
      <span v-for="star in 5" :class="{active: star <= katalog}" @click="katalog = star">&#9733;</span>
      <h3>Обслуживание</h3>
      <span v-for="star in 5" :class="{active: star <= udob}" @click="udob = star">&#9733;</span>
    </div>

  </div>
</template>

<style scoped lang="less">
.page {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

adress {
  margin-bottom: 20px;
}

@media (max-width: 756px) {
  .page {
    padding: 10px;
  }
}

a {
  color: var(--primary);
  text-decoration: none;
}

.rating {
  h3 {
    margin-bottom: 10px;
  }

  span {
    font-size: 30px;
    cursor: pointer;
    margin-right: 10px;
  }

  .active {
    color: var(--accent);
  }
}
</style>