<script setup lang="ts">

import {useHead} from "unhead";
import {useUser} from "~/composables/user";

useHead({
  title: 'Pharm',
  meta: [
    {
      name: 'description',
      content: 'Ближайшие аптеки и все необходимые лекарства в одном месте. Pharm - больше чем аптека.'
    }, {
      name: 'keywords',
      content: 'Pharm, аптеки, лекарства, здоровье, ближайшие аптеки, купить лекарства'
    }, {
      name: "yandex-verification",
      content: "26e50acd00d6fb0e"
    }
  ]
});

const {user} = useUser();

const categories = reactive([
  {
    id: 1,
    name: 'Витамины',
    status: true
  },
  {
    id: 2,
    name: 'Бады',
    status: false
  },
  {
    id: 3,
    name: 'Контрацепция',
    status: false
  },
  {
    id: 4,
    name: 'Антибиотики',
    status: false
  },
  {
    id: 5,
    name: 'Антигистаминные',
    status: false
  },
  {
    id: 6,
    name: 'Сиропы',
    status: false
  }
]);

const drugs = reactive([
  {
    id: 1,
    name: "Витамин B12",
    desc: "Помогает восстановить нервную систему",
    category: 1,
    price: 1000,
  }, {
    id: 2,
    name: "Витамин C",
    desc: "Помогает восстановить иммунную систему",
    category: 1,
    price: 500,
  }, {
    id: 3,
    name: "Витамин D",
    desc: "Помогает восстановить кости",
    category: 1,
    price: 1500,
  }, {
    id: 4,
    name: "Витамин E",
    desc: "Помогает восстановить кожу",
    category: 1,
    price: 2000,
  }, {
    id: 5,
    name: "Витамин K",
    desc: "Помогает восстановить кровь",
    category: 1,
    price: 2500,
  }, {
    id: 6,
    name: "Витамин A",
    desc: "Помогает восстановить зрение",
    category: 1,
    price: 3000,
  }, {
    id: 7,
    name: "Витамин B1",
    desc: "Помогает восстановить нервную систему",
    category: 1,
    price: 1000,
  }, {
    id: 8,
    name: "Витамин B2",
    desc: "Помогает восстановить нервную систему",
    category: 1,
    price: 1000,
  }, {
    id: 9,
    name: "Витамин B3",
    desc: "Помогает восстановить нервную систему",
    category: 1,
    price: 1000,
  }, {
    id: 10,
    name: "Витамин B4",
    desc: "Помогает восстановить нервную систему",
    category: 1,
    price: 1000,
  }, {
    id: 11,
    name: "Витамин B5",
    desc: "Помогает восстановить нервную систему",
    category: 1,
    price: 1000,
  }, {
    id: 12,
    name: "Durex Dual Extase",
    desc: "Презервативы с двойным удовольствием",
    category: 3,
    price: 970,
  }, {
    id: 13,
    name: "Durex Extra Safe",
    desc: "Презервативы с увеличенной толщиной",
    category: 3,
    price: 970,
  }, {
    id: 14,
    name: "Durex Invisible",
    desc: "Презервативы с увеличенной толщиной",
    category: 3,
    price: 970,
  }, {
    id: 15,
    name: "Durex Love Collection",
    desc: "Набор презервативов",
    category: 3,
    price: 970,
  }, {
    id: 16,
    name: "Durex Natural Plus",
    desc: "Презервативы с увеличенной толщиной",
    category: 3,
    price: 970,
  }, {
    id: 17,
    name: "Durex Natural Plus",
    desc: "Презервативы с увеличенной толщиной",
    category: 3,
    price: 970,
  }, {
    id: 18,
    name: "Durex Natural Plus",
    desc: "Презервативы с увеличенной толщиной",
    category: 3,
    price: 970,
  }, {
    id: 19,
    name: "Durex Natural Plus",
    desc: "Презервативы с увеличенной толщиной",
    category: 3,
    price: 970,
  }, {
    id: 20,
    name: "Durex Natural Plus",
    desc: "Презервативы с увеличенной толщиной",
    category: 3,
    price: 970,
  }, {
    id: 21,
    category: 2,
    name: "Аква Марис",
    desc: "Спрей для носа",
    price: 300,
  }, {
    id: 22,
    category: 2,
    name: "Аква Марис",
    desc: "Спрей для носа",
    price: 300,
  }, {
    id: 23,
    category: 2,
    name: "Аква Марис",
    desc: "Спрей для носа",
    price: 300,
  }, {
    id: 24,
    category: 2,
    name: "Аква Марис",
    desc: "Спрей для носа",
    price: 300,
  }, {
    id: 25,
    category: 2,
    name: "Аква Марис",
    desc: "Спрей для носа",
    price: 300,
  }, {
    id: 26,
    category: 2,
    name: "Аква Марис",
    desc: "Спрей для носа",
    price: 300,
  }, {
    id: 27,
    category: 2,
    name: "Аква Марис",
    desc: "Спрей для носа",
    price: 300,
  }, {
    id: 28,
    category: 2,
    name: "Аква Марис",
    desc: "Спрей для носа",
    price: 300,
  }, {
    id: 29,
    category: 2,
    name: "Аква Марис",
    desc: "Спрей для носа",
    price: 300,
  }
])

const changeStatus = (id: number) => {
  categories.forEach(category => {
    category.status = category.id === id;
  });
}
</script>

<template>
  <div class="page">
    <div class="page_inner">
      <section class="information">
        <h1>Pharm - больше чем аптека</h1>
        <p v-if="user.id" class="greeting">Добрый день, {{ user.name }}</p>
        <p v-else class="auth">Для работы с сервисом вы можете <a href="#">войти в свой аккаунт</a> или <a href="#">зарегестрироваться</a>
        </p>
      </section>
      <main>
        <div class="medication">
          <h2>Товары</h2>
          <ul class="medication_categories">
            <li v-for="category in categories" :key="category.id" :class="{active: category.status}"
                @click="changeStatus(category.id)">{{ category.name }}
            </li>
          </ul>
          <div class="products">
            <div class="product_card"
                 v-for="drug in drugs.filter(drug => drug.category === categories.find(category => category.status).id)"
                 :key="drug.id">
              <div class="product_card_image">
                <img src="https://picsum.photos/200/300" :alt="drug.name">
              </div>
              <div class="product_card_information">
                <h3>{{ drug.name }}</h3>
                <p>{{ drug.desc }}</p>
                <p>Цена: {{ drug.price }} руб.</p>
                <NuxtLink to="/drugs/1">Подробнее</NuxtLink>
              </div>
            </div>
          </div>
        </div>
        <div class="places">
          <h2>Аптеки рядом</h2>
          <div class="places_list">
            <div class="place_card">
              <div class="place_card">
                <h3>Точка Pharma</h3>
                <p>Адрес: г. Нижневартовск, ул. Мусы-Джалиля, д. 18</p>
                <p>Время работы: 9:00 - 21:00</p>
                <address>
                  <a href="tel:+79821352159" class="sem">(982) 135-21-59</a>
                </address>
                <NuxtLink to="places/1">Подробнее</NuxtLink>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</template>

<style scoped lang="less">
@media (max-width: 756px) {

}

.page {
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 100vh;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.information {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  .greeting {
    font-weight: 600;
  }
}

nav {
  display: flex;
  background-color: var(--primary);
  padding: 10px 20px;
  position: static;


  ul {
    background-color: var(--primary);
    flex-direction: column;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.medication {

  .medication_categories {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
    overflow-x: auto;
    padding: 0 0 20px;
    border-bottom: 1px solid #ccc;
    margin: 0 0 20px;

    li {
      padding: 10px 20px;
      background-color: var(--background-light);
      border-radius: 10px;
      cursor: pointer;
      transition: all .2s ease-in-out;

      &.active {
        background-color: var(--primary);
        color: var(--background-light);
      }

      &:hover {
        background-color: var(--primary);
        color: var(--background-light);
      }
    }
  }

  .products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;

    .product_card {
      display: flex;
      flex-direction: column;
      background-color: var(--background-light);
      border-radius: 10px;
      padding: 20px;
      transition: all .2s ease-in-out;

      .product_card_image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        margin-bottom: 20px;

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      .product_card_information {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h3 {
          margin: 0;
        }

        p {
          margin: 0;
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          padding: 10px 20px;
          border-radius: 10px;
          background-color: var(--primary);
          color: var(--background-light);
          border: none;
          cursor: pointer;
          transition: all .2s ease-in-out;

          &:hover {
            background-color: var(--accent);
          }
        }
      }
    }
  }
}

.places {
  display: flex;
  flex-direction: column;

  .places_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;

    .place_card {
      display: flex;
      flex-direction: column;
      background-color: var(--background-light);
      border-radius: 10px;
      padding: 20px;
      transition: all .2s ease-in-out;

      h3 {
        margin: 0;
      }

      p {
        margin: 0;
      }

      a:not(.sem) {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 10px;
        background-color: var(--primary);
        color: var(--background-light);
        border: none;
        cursor: pointer;
        transition: all .2s ease-in-out;
        margin-top: 10px;

        &:hover {
          background-color: var(--accent);
        }
      }
    }
  }
}
</style>